---
title: "On dissimilarity representation and transfer learning for offline handwritten signature verification"
collection: publications
permalink: /publication/2019-01-01-On-dissimilarity-representation-and-transfer-learning-for-offline-handwritten-signature-verification
date: 2019-01-01
venue: 'In the proceedings of 2019 International Joint Conference on Neural Networks (IJCNN)'
citation: ' Victor Souza,  Adriano Oliveira,  Rafael Cruz,  Robert Sabourin, &quot;On dissimilarity representation and transfer learning for offline handwritten signature verification.&quot; In the proceedings of 2019 International Joint Conference on Neural Networks (IJCNN), 2019.'
---
Use [Google Scholar](https://scholar.google.com/scholar?q=On+dissimilarity+representation+and+transfer+learning+for+offline+handwritten+signature+verification){:target="_blank"} for full citation