---
title: "A white-box analysis on the writer-independent dichotomy transformation applied to offline handwritten signature verification"
collection: publications
permalink: /publication/2020-01-01-A-white-box-analysis-on-the-writer-independent-dichotomy-transformation-applied-to-offline-handwritten-signature-verification
date: 2020-01-01
venue: 'Expert Systems with Applications'
citation: ' Victor Souza,  Adriano Oliveira,  Rafael Cruz,  Robert Sabourin, &quot;A white-box analysis on the writer-independent dichotomy transformation applied to offline handwritten signature verification.&quot; Expert Systems with Applications, 2020.'
---
Use [Google Scholar](https://scholar.google.com/scholar?q=A+white+box+analysis+on+the+writer+independent+dichotomy+transformation+applied+to+offline+handwritten+signature+verification){:target="_blank"} for full citation