---
title: "An Investigation of Feature Selection and Transfer Learning for Writer-Independent Offline Handwritten Signature Verification"
collection: publications
permalink: /publication/2020-01-01-An-Investigation-of-Feature-Selection-and-Transfer-Learning-for-Writer-Independent-Offline-Handwritten-Signature-Verification
date: 2020-01-01
venue: 'In the proceedings of International Conference on Pattern Recognition (ICPR)'
citation: ' Victor Souza,  Adriano Oliveira,  Rafael Cruz,  Robert Sabourin, &quot;An Investigation of Feature Selection and Transfer Learning for Writer-Independent Offline Handwritten Signature Verification.&quot; In the proceedings of International Conference on Pattern Recognition (ICPR), 2020.'
---
Use [Google Scholar](https://scholar.google.com/scholar?q=An+Investigation+of+Feature+Selection+and+Transfer+Learning+for+Writer+Independent+Offline+Handwritten+Signature+Verification){:target="_blank"} for full citation