---
title: "Contrastive Learning of Handwritten Signature Representations for Writer-Independent Verification"
collection: publications
permalink: /publication/2022-01-01-Contrastive-Learning-of-Handwritten-Signature-Representations-for-Writer-Independent-Verification
date: 2022-01-01
venue: 'In the proceedings of International Joint Conference on Neural Networks (IJCNN)'
citation: ' Talles Vianna,  Victor Souza,  Adriano Oliveira,  Rafael MO,  Robert Sabourin, &quot;Contrastive Learning of Handwritten Signature Representations for Writer-Independent Verification.&quot; In the proceedings of International Joint Conference on Neural Networks (IJCNN), 2022.'
---
Use [Google Scholar](https://scholar.google.com/scholar?q=Contrastive+Learning+of+Handwritten+Signature+Representations+for+Writer+Independent+Verification){:target="_blank"} for full citation